{% extends "base.html" %}

{% block title %}Accueil{%  endblock %}

{% block body %}
    <div class="row">
        <div class="col align-self-center">
            <h1>Bienvenue dans la Gestion commerciale</h1>
        </div>
    </div>
    <div class="row">
        <div class="col align-self-center">
            <a href="{%  url 'get-products' %}" class="btn btn-secondary btn-sm">Récupérer produits du catalogue</a>
        </div>
    </div>
    <div class="row">
        <div class="col align-self-center">
            <a href="{%  url 'display-products' %}" class="btn btn-secondary btn-sm">Afficher produits du catalogue</a>
        </div>
    </div>
{% endblock %}
