{% extends "base.html" %}

{% block title %}Accueil{%  endblock %}

{% block body %}
    <div class="row">
        <div class="col align-self-center">
            <h1>Gestion commerciale</h1>
        </div>
    </div>
    <div class="row">
        <div class="col align-self-center">
            <a href="{%  url 'display-products' %}" class="btn btn-secondary btn-sm">Afficher produits du catalogue</a>
        </div>
    </div>
    <div class="row">
        <div class="col align-self-center">
            <a href="{%  url 'display-orders' %}" class="btn btn-secondary btn-sm">Afficher commandes de magasin</a>
        </div>
    </div>
    <div class="row">
        <div class="col align-self-center">
            <a href="{%  url 'display-stock-reorder' %}" class="btn btn-secondary btn-sm">Afficher réapro Stock </a>
        </div>
    </div>
    <div class="row">
        <div class="col align-self-center">
            <a href="{%  url 'simulate-index' %}" class="btn btn-secondary btn-sm">Simulate</a>
        </div>
    </div>
{% endblock %}
