{% extends "base.html" %}

{% block title %}Commandes{% endblock %}

{% block body %}
    <a href="{% url 'index' %}" class="btn btn-secondary btn-sm">Retour à l'accueil</a>
    <a href="{%  url 'empty-orders' %}" class="btn btn-secondary btn-sm">Vider la liste</a>
    <a href="{%  url 'simulate-placing-order' %}" class="btn btn-secondary btn-sm">Simuler commande magasin</a>

    <h2>Commandes</h2>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">#ID</th>
            <th scope="col">codeBon</th>
            <th scope="col">codeProduit</th>
            <th scope="col">quantiteDemandee</th>
            <th scope="col">quantiteLivree</th>
        </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
        <tr>
            <td>{{ commande.id }}</td>
            <td>{{ commande.identifiantBon }}</td>
            <td>{{ commande.codeProduit }}</td>
            <td>{{ commande.quantiteDemandee }}</td>
            <td>{{ commande.quantiteLivree}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}