{% extends "base.html" %}

{% block title %}Commandes{% endblock %}

{% block body %}
    <a href="{% url 'index' %}" class="btn btn-secondary btn-sm">Retour à l'accueil</a>
    <a href="{%  url 'empty-orders' %}" class="btn btn-secondary btn-sm">Vider la liste</a>

    <h2>Commandes</h2>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">codeBon</th>
            <th scope="col">codeProduit</th>
            <th scope="col">quantiteDemandee</th>
            <th scope="col">quantiteLivree</th>
        </tr>
        </thead>
        <tbody>
        {% for requestProduct in requestProducts %}
        <tr>
            <td>{{ requestProduct.deliveryRequest.identifiantBon }}</td>
            <td>{{ requestProduct.codeProduit }}</td>
            <td>{{ requestProduct.quantiteDemandee }}</td>
            <td>{{ requestProduct.quantiteLivree}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}