{% extends "base.html" %}

{% block title %}Liste des réappro du Stock{% endblock %}

{% block body %}
    <a href="{% url 'index' %}" class="btn btn-secondary btn-sm">Retour à l'accueil</a>
    <a href="{% url 'schedule-stock-reorder' %}" class="btn btn-secondary btn-sm">Add schedule</a>
    <a href="{%  url 'empty-stock-reorder' %}" class="btn btn-secondary btn-sm">Vider la liste</a>

    <h2>Liste des réappro du Stock</h2>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">codeBon</th>
            <th scope="col">codeProduit</th>
            <th scope="col">quantiteDemandee</th>
            <th scope="col">quantiteLivree</th>
        </tr>
        </thead>
        <tbody>
        {% for reorderProduct in reorderProducts %}
        <tr>
            <td>{{ reorderProduct.stockReorder.identifiantBon }}</td>
            <td>{{ reorderProduct.product.codeProduit }}</td>
            <td>{{ reorderProduct.quantiteDemandee }}</td>
            <td>{{ reorderProduct.quantiteLivree}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}