{% extends "base.html" %}


{% block body %}
    <div class="row">
        <div class="col align-self-center">
            <h1>Simulate</h1>
        </div>
    </div>
    <div class="row">
        <div class="col align-self-center">
            <p><a href="{%  url 'index' %}" class="btn btn-secondary btn-sm">Retourner à l'accueil</a>
        </div>
    </div>
    <div class="row">
        <div class="col align-self-center">
            <a href="{%  url 'simulate-get-new-products' %}" class="btn btn-secondary btn-sm">Simuler nouveau produit catalogue</a>
        </div>
    </div>
    <div class="row">
        <div class="col align-self-center">
            <a href="{%  url 'simulate-stock-reorder' %}" class="btn btn-secondary btn-sm">Simuler réaprovisionnement stock</a>
        </div>
    </div>
    <div class="row">
        <div class="col align-self-center">
            <a href="{%  url 'simulate-get-stocks' %}" class="btn btn-secondary btn-sm">Simuler la récupération de l'état des stocks</a>
        </div>
    </div>
    <div class="row">
        <div class="col align-self-center">
            <a href="{%  url 'simulate-order-magasin' %}" class="btn btn-secondary btn-sm">Simuler une commande du magasin</a>
        </div>
    </div>
{% endblock %}